<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deposit Form</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/deposit.css')}}"
</head>
<body>

  <div class="login-container">
    <form action="#" method="POST">
      <h2>Deposit</h2>

      <div class="input-group">
        <label for="deposit-money">Deposit</label>
        <input type="text" id="deposit-money" name="deposit-money" placeholder="Enter your amount of money to be deposited" required>
      </div>

      <button type="submit" class="btn">Deposit</button>
    </form>
  </div>

</body>
</html>