<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Withdraw Form</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/withdraw.css')}}"
</head>
<body>

  <div class="login-container">
    <form action="#" method="POST">
      <h2>Withdraw</h2>

      <div class="input-group">
        <label for="withdraw-money">Withdraw</label>
        <input type="text" id="withdraw-money" name="withdraw-money" placeholder="Enter your amount of money to be withdrawed" required>
      </div>

      <button type="submit" class="btn">Withdraw</button>
    </form>
  </div>

</body>
</html>